.user-info{
border-collapse:collapse;
width:100vh;
align-items:center;
justify-content:center;
margin:20px auto;
}
.form{
border:2px solid #dbe4f1;
border-radius:10px;
justify-content:center;
align-items:center;
text-align:center;
padding:10px;
width:100%;
border-collapse:collapse; 
border-spacing:0; 
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin:5%;
 } 
.title{
display:flex;
align-items:center;
font-size:2rem;
justify-content:center;
text-align:center;
 }
.user-info td, .user-info th {
border:1px solid #ddd;
padding:8px;
}
.user-info tr:nth-child(even){
background-color: #f2f2f2;
}  
.user-info tr:hover{
background-color: #ddd;
}
.user-info th {
padding-top: 12px;
padding-bottom: 12px;
text-align:left;
background-color: #02b8de;
color: white;
text-align:center;
}
.todo-input {
padding:14px 32px 14px 16px;
border-radius:4px 0 0 4px;
border:2px solid #02b8de;
outline:none;
width:320px;
background:transparent;
color: #333;
}
.todo-button {
padding:16px;
border:none;
border-radius:0 4px 4px 0;
cursor:pointer;
outline:none;
background:linear-gradient(
90deg,
rgb(13, 177, 241) 0%,
rgb(22, 105, 201) 100%
);
color: #fff;
text-transform:capitalize;
}